<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewData["Title"] - SiteMVC</title>
    <link href="../Views/Shared/Index.cshtml.css" rel="stylesheet"/>
</head>
<style>
   
</style>

<body>
    <div class="img-pag-compra"><img src="./imagem/camiseta_branca_malha_pv_manga_curta_gola_redonda_273_1_5c5c3476a83f9f3a704042733ecb224b.jpg" alt="Camisa"/></div>
    
</body>

</html>